@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }

        .fa:hover {
            opacity: 0.4;
        }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-google {
        background: #dd4b39;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
</style>


<form class="container center_div" style="padding:20%;" method="post">
    <h2>@ViewData["Title"]</h2>    
    <!-- Username input -->
    <div class="form-outline b-4" style="padding-bottom:10px;">        
        <input asp-for="Username" type="text" placeholder="Username*" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4" style="padding-bottom:10px;">
        <input type="password" placeholder="Password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <span class="text-danger center_div">@ViewData["Failed"]</span>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row text-center">
        <div class="col-sm-6">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value="" />
                <label class="form-check-label" for="form2Example3"> Remember me </label>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center" style="padding-top:10px;">
        <p>Not a member? <a asp-area="Security" asp-controller="Account" asp-action="Register"> Register</a></p>
        <p>or sign up with:</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>
</form>